 <main class="hero">
    <section >
      <h1>Bienvenido a Nebula</h1>
      <p>Más que un tienda de computación.</p>
      <a href="/api/product" class="btn">¡Ver productos!</a>
    </section>
  </main>
