<div class="content_data">
    <form id="formu" method="post">
        <div class="content_btn">
            <button id="btnAdd">Add Product</button>
            <button id="btnDelete">Delete Product</button>
        </div>
          <div>
            <label >Id: </label>
            <input type="text" id="iptId" name="id">
        </div>
        <div>
            <label >Nombre: </label>
            <input type="text" id="iptName" name="name">
        </div>
        <div class="content_btn">
            <button id="btnSend" type="submit">Send</button>
            <button id="btnCancel">Cancel</button>
        </div>
    </form>
    <h2>List Products :</h2>
    <ul id="products">
    </ul>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>